{{ define "base"}}
    <!DOCTYPE html>
    <html lang="">

    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>Track Space</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="/static/bootstrap.css/" rel="stylesheet">
        <link href="/static/bootstrap.css/bootstrap.min.css" rel="stylesheet">

        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet">

        <link href="/static/css/styles.css" rel="stylesheet">

    </head>
    {{block "css" .}} {{end}}
    <style>

    </style>

    <body>
    <div class="container">
        <header class="d-flex flex-wrap justify-content-center">
            <a class="d-flex align-items-center mb-3 mb-md-0 me-md-auto text-dark text-decoration-none" href="/">
                <!-- <svg class="bi me-2" width="40" height="32"><use xlink:href="#bootstrap"/></svg> -->
                <h1 class="title">Track<span>-space</span>
                </h1>
            </a>

            <ul class="nav nav-pills">
                <li class="nav-item"><a class="nav-link" href="#">Home</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Login</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Contact</a></li>
                <li class="nav-item"><a class="nav-link" href="#">About</a></li>
                <li class="nav-item"><a class="nav-link" href="#">Option</a></li>
            </ul>
        </header>
    </div>

    {{ block "content" . }} {{end}}
    <main>
        <footer class="main-footer">
            <div class="container">
                <div class="footer row">
                    <div class="ft-1 col-md-4 pr-md-5">
                        <a class="ft-space d-block mb-4" href="#">track<span>-space</span></a>
                        <p>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ullam maiores expedita excepturi
                            consequuntur quia, dolore voluptatem perspiciatis ea odio obcaecati iusto temporibus
                            adipisci
                            earum velit a commodi! Blanditiis, corporis
                            earum! Lorem ipsum dolor sit amet consectetur adipisicing elit. Eligendi quasi perferendis
                            ratione perspiciatis accusantium.</p>
                    </div>
                    <div class="col-md">
                        <ul class="list-1 list-unstyled nav-links">
                            <li class="ft-li"><a href="#">Home</a></li>
                            <li class="ft-li"><a href="#">About Us</a></li>
                            <li class="ft-li"><a href="#">Portfolio</a></li>
                            <li class="ft-li"><a href="#">Services</a></li>
                            <li class="ft-li"><a href="#">Contact</a></li>
                        </ul>
                    </div>
                    <div class="col-md">
                        <ul class="list-2 list-unstyled nav-links">
                            <li class="ft-li"><a href="#">Clients</a></li>
                            <li class="ft-li"><a href="#">Team</a></li>
                            <li class="ft-li"><a href="#">Career</a></li>
                            <li class="ft-li"><a href="#">Testimonials</a></li>
                            <li class="ft-li"><a href="#">Journal</a></li>
                        </ul>
                    </div>
                    <div class="col-md">
                        <ul class="list-3 list-unstyled nav-links">
                            <li class="ft-li"><a href="#">Privacy Policy</a></li>
                            <li class="ft-li"><a href="#">Terms &amp; Conditions</a></li>
                            <li class="ft-li"><a href="#">Partners</a></li>
                        </ul>
                    </div>
                    <div class="col-md text-md-center">
                        <ul class="social list-unstyled">
                            <li class="ft-li"><img alt="" src="static/image/twitter-16x16-675864.png"><span
                                        class="icon-instagram"></span>
                            </li>
                            <li class="ft-li"><img alt="" src="static/image/instagram-16x16-675870.png"><span
                                        class="icon-twitter"></span>
                            </li>
                            <li class="ft-li"><img alt="" src="static/image/facebook-16x16-675868.png"><span
                                        class="icon-facebook"></span>
                            </li>
                            <li class="ft-li"><img src="static/image/pinterest-16x16-675872.png" alt=""><span
                                        class="icon-pinterest"></span>
                            </li>
                            <li class="ft-li"><img src="static/image/tumblr-16x16-675866.png" alt=""><span
                                        class="icon-dribble"></span>
                            </li>
                        </ul>
                        <p class="">
                            <a class="btn btn-tertiary" href="#">Contact Us</a>
                        </p>
                    </div>
                </div>

                <div class="row">
                    <div class="col-12 text-center">
                        <div class="copyright">
                            <p>
                                <small> copyright &copy; 2022 track-space by ayaa-codes.</small>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
    </main>

    {{block "js" .}} {{end}}
    <script src="/static/js/jquery-3.5.1.min.js"></script>
    {{/*        <script src="/static/js/popper.min.js"></script>*/}}
    <script src="/static/js/bootstrap.min.js"></script>

    {{/*        // add bootstrap 5 js file*/}}
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"></script>

    {{/*        //add bundle js*/}}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>

    </body>

    </html>

{{ end }}