{{template "base" .}}



{{ define "css" }} {{ end }}







{{ define "content" }}

    <main>

        <section class="One">
            <div class="row mb-3">
                <hr class="line">
                <div class="first-grid col-sm-6 col-lg-8 themed-grid-col">

                    <p class="p-intro"><span>Welcome to </span>track<span class="space">-space </span>
                    </p>
                    <p class="p-intro">home for all techie</p>
                    <div class="intro">
                        <p>
                            Get your team a well development ecosystem for any type of project for easy management as
                            well
                            as intensive research on newly innovative technology and idea needed to be share or
                            contribute
                            to software development as a whole.
                        </p>
                    </div>

                    <div class="bt">
                        <button class="log-bt bt1 btn w-55 btn-lg" type="button">Sign-up</button>
                        <button class="log-bt btn w-55 btn-lg" type="button">Log-in</button>
                    </div>
                </div>
                <div class="second-grid col-6 col-lg-4 themed-grid-col">
                    <div class="row mb-3 dev">
                        <div class="col-xxl-4 themed-grid-col main-dv-icon">
                            <img alt="pexels-mikhail-nilov-7820920.jpg" class="img-fluid mx-auto d-block dv-icon"
                                 src="/static/image/3206155.png">
                        </div>
                        <div class=" user col-xxl-4 themed-grid-col main-p">
                            <p>workspace for <em><span class="users">developer, team, project manager </span> and <span
                                            class="users">client</span></em></p>
                        </div>

                    </div>
                </div>
            </div>
        </section>
        <section class="second">

            <div>
                <p class="main-offer">What we offer our users</p>
                <div class="offer">
                    <div>
                        <img alt="" src="/static/image/download (1).png" srcset="">
                        <h5>Project management </h5>
                        <p>storage space to maintain project worked on for easy access</p>

                    </div>
                    <div>
                        <img alt="" src="static/image/download (2).png" srcset="">
                        <h5>Team collaboration</h5>
                        <p>interactive section with team & other developer</p>
                    </div>
                    <div>
                        <img alt="" src="/static/image/download (3).png" srcset="">
                        <h5>Proper work integration</h5>
                        <p>easy intranet ecosystem for team & developer as well as a statistic report
                        </p>
                    </div>
                    <div>
                        <img alt="" src="/static/image/download (4).png" srcset="">
                        <h5>Good communication</h5>
                        <p>effective communication through users comment</p>
                    </div>
                    <div>
                        <img alt="" src="/static/image/download (5).png" srcset="">
                        <h5>Client services</h5>
                        <p>undoubted services to our client and their easy access tp assigned team</p>
                    </div>
                </div>
            </div>
        </section>
        <section class="fourth">
            <div class="com">
                <p class="com-head">Technology companies that make use of our application for easy develpment and fast
                    working rate</p>
                <div class="com-icon">
                    <div>
                        <img alt="" class="logo" src="/static/image/github-64x64-675821.png" srcset="">
                        <p>Github</p>
                    </div>
                    <div>
                        <img alt="" class="logo" src="/static/image/google-64x64-675827.png" srcset="">
                        <p>Google</p>
                    </div>
                    <div>
                        <img alt="" class="logo" src="/static/image/amazon-64x64-675861.png" srcset="">
                        <p>Amazon</p>
                    </div>
                    <div>
                        <img alt="" class="logo" src="/static/image/spotify-64x64-675849.png" srcset="">
                        <p>Spotify</p>
                    </div>
                    <div>
                        <img alt="" class="logo" src="/static/image/dropbox-64x64-675812.png" srcset="">
                        <p>Dropbox</p>
                    </div>
                </div>

            </div>
        </section>
    </main>
{{ end }}